demo/docker-client/MIELibrary/bin
demo/docker-client/MIECryptoProvider/bin
docker-mie/jdk-8u91-linux-x64.tar.gz
docker-mie/opencv*
demo/docker-client/opencv*
demo/docker-client/datasets/flickr_imgs/*.jpg
demo/docker-client/datasets/flickr_tags/*.txt
docker-mie/mie/Server/Makefile.2
demo/docker-client/MIELibrary/keys
demo/docker-client/MIELibrary/test
parser/dataset
parser/output
*.class
